@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8dff69;
  --color-secondary: #081c29;
  --color-header: #06112a;
  --color-hover: #8dff69;
  --subtitle-button: #06b6d4;
  --title-indigo: #4f46e5;
  --hover-btn: #ff8500;
  --error-color: #ef4444;
}

body {
  -webkit-front-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}
section {
  width: 88%;
  min-height: 70vh;
  padding: 4rem 4% 0.5rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
  background-color: linear-gradient(180deg, #8dff69, #6fe047);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #abff8d, #5b5b5b);
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #8dff69 #0a0a0a;
}

/* Hide scrollbar for carousel */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
