services:
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install && npx prisma generate
    startCommand: node app.js
    envVars:
      - key: NODE_ENV
        value: production
